# Dev Config (leave these empty for production!)
NUXT_PUBLIC_ENABLE_MOCK=
NUXT_ENABLE_CONSOLE=

# Nuxt
# ====================================
# Setup prefix for routes.
# ie. if app is deployed in domain.com/prefix/routes, set '/prefix/' to this var
NUXT_APP_BASE_URL=/v2/

# API Source
# ====================================
NUXT_PUBLIC_AUTH_BASE_URL=
NUXT_PUBLIC_API_BASE_URL=
NUXT_PUBLIC_STORAGE_BASE_URL=

# Sentry
# ====================================
NUXT_SENTRY_DSN=
NUXT_SENTRY_ORG=
NUXT_SENTRY_PROJECT=
NUXT_SENTRY_TOKEN=
